
.big-container{
  height: 100vh;
  width: 100vw;
  background-color:#5D3FD3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container{
   height: 60%;
   border-radius: 11px;
   width: 60%;

}

h2{
  position: absolute;
  top:25px;
  font-size: 40px;
  color:#fff;
  
}
.main-content{
  height: 80%;
  background-color: antiquewhite;
}

.btn-style{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  gap:15px;
  background-color: antiquewhite;
}

.btn{
  padding: 15px;
  font-size: 20px;
  background-color: #5D3FD3;
  color: #fff;
  border: none;
  border-radius: 11px;
  transition: all 2s;
}

.btn:hover{
  background-color: #CF9FFF;
}


@media (max-width:1024px){

  .container{
    width: 70%;
  }

  h2{
    top:10px;
  }

  .btn{
    padding: 10px;
    font-size: 18px;
  }
}

@media (max-width:768px){
  .container{
    width: 80%;
  }

  h2{
    font-size: 35px;
  }
}

@media (max-width:585px){
  .container{
    height: 70%;
  }

  .btn{
    font-size: 14px;
  }

  h2{
    top:5px;
    font-size: 30px;
  }
}

@media (max-width:490px){
.container{
  height: 80%;
  margin-top: 50px;
}
.btn{
  font-size: 13px;
}
}

@media (max-width:380px){
 .btn-style{
  flex-direction: column;
  height: 25%;
 }

 h2{
  font-size: 20px;
 }

 .container{
  height: 90%;
 }

 .main-content{
  height: 75%;
 }

  .btn{
    font-size: 13px;
  }
}